{:ns snomednz-test 
 :import #{zenbox
           snomednz}

 CustomTestResource
 {:zen/tags #{zen/schema zenbox/persistent}
  :resourceType "CustomTestResource"
  :confirms #{zenbox/Resource}
  :type zen/map
  :keys {:propWithSnomedKey 
         {:type zen/string
          :zen.fhir/value-set {:symbol   snomednz/value-set
                               :strength :required}}}}}
